In [1]:
# Jason Luera
# Biopandas DF testing
# Trying to isolate columns in dataframes

In [1]:
# Importing Libraries
from biopandas.pdb import PandasPdb
import pandas as pd

In [33]:
ppdb = PandasPdb().fetch_pdb('1RD8')
ppdb.df['ATOM'].head()

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,GLU,,A,10,,...,38.090,-19.145,117.028,1.0,51.63,,,N,NaN,1089
1,ATOM,2,,CA,,GLU,,A,10,,...,38.099,-17.888,116.277,1.0,54.72,,,C,NaN,1090
2,ATOM,3,,C,,GLU,,A,10,,...,37.560,-18.108,114.844,1.0,47.63,,,C,NaN,1091
3,ATOM,4,,O,,GLU,,A,10,,...,38.295,-18.463,113.885,1.0,45.41,,,O,NaN,1092
4,ATOM,5,,CB,,GLU,,A,10,,...,39.487,-17.307,116.239,1.0,59.04,,,C,NaN,1093

In [4]:
from biopandas.pdb import PandasPdb
ppdb = PandasPdb().fetch_pdb('1RD8')
sequence = ppdb.amino3to1()
sequence.tail()

      chain_id residue_name
11827        F            E
11836        F            E
11845        F            I
11853        F            D
11861        F            G

In [36]:
ppdb.df['ATOM'].head(2)

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,GLU,,A,10,,...,38.090,-19.145,117.028,1.0,51.63,,,N,NaN,1089
1,ATOM,2,,CA,,GLU,,A,10,,...,38.099,-17.888,116.277,1.0,54.72,,,C,NaN,1090

In [7]:
# Isolation of 2 columns
atombfactordf = ppdb.df['ATOM']['b_factor'].head()
atombfactordf

0    51.63
1    54.72
2    47.63
3    45.41
4    59.04
Name: b_factor, dtype: float64

In [34]:
ppdb.df['ATOM'][ppdb.df['ATOM']['atom_number'] != 0].head()

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,GLU,,A,10,,...,38.090,-19.145,117.028,1.0,51.63,,,N,NaN,1089
1,ATOM,2,,CA,,GLU,,A,10,,...,38.099,-17.888,116.277,1.0,54.72,,,C,NaN,1090
2,ATOM,3,,C,,GLU,,A,10,,...,37.560,-18.108,114.844,1.0,47.63,,,C,NaN,1091
3,ATOM,4,,O,,GLU,,A,10,,...,38.295,-18.463,113.885,1.0,45.41,,,O,NaN,1092
4,ATOM,5,,CB,,GLU,,A,10,,...,39.487,-17.307,116.239,1.0,59.04,,,C,NaN,1093

In [8]:
# Printing keys
# Keys are coordinates of entries from that perspective
ppdb.df.keys()

dict_keys(['ATOM', 'HETATM', 'ANISOU', 'OTHERS'])

In [10]:
# Printing the columns of ATOM
ppdb.df['ATOM'].head()
# Use head so you don't have to process the whole file in jupyter

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,GLU,,A,10,,...,38.090,-19.145,117.028,1.0,51.63,,,N,NaN,1089
1,ATOM,2,,CA,,GLU,,A,10,,...,38.099,-17.888,116.277,1.0,54.72,,,C,NaN,1090
2,ATOM,3,,C,,GLU,,A,10,,...,37.560,-18.108,114.844,1.0,47.63,,,C,NaN,1091
3,ATOM,4,,O,,GLU,,A,10,,...,38.295,-18.463,113.885,1.0,45.41,,,O,NaN,1092
4,ATOM,5,,CB,,GLU,,A,10,,...,39.487,-17.307,116.239,1.0,59.04,,,C,NaN,1093

In [11]:
# Looking at the columns of ATOM
ppdb.df['ATOM'].columns

Index(['record_name', 'atom_number', 'blank_1', 'atom_name', 'alt_loc',
       'residue_name', 'blank_2', 'chain_id', 'residue_number', 'insertion',
       'blank_3', 'x_coord', 'y_coord', 'z_coord', 'occupancy', 'b_factor',
       'blank_4', 'segment_id', 'element_symbol', 'charge', 'line_idx'],
      dtype='object')

In [12]:
# Isolating from Row 1
ppdb.df['ATOM'][ppdb.df['ATOM']['atom_number'] != 0].head()

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,GLU,,A,10,,...,38.090,-19.145,117.028,1.0,51.63,,,N,NaN,1089
1,ATOM,2,,CA,,GLU,,A,10,,...,38.099,-17.888,116.277,1.0,54.72,,,C,NaN,1090
2,ATOM,3,,C,,GLU,,A,10,,...,37.560,-18.108,114.844,1.0,47.63,,,C,NaN,1091
3,ATOM,4,,O,,GLU,,A,10,,...,38.295,-18.463,113.885,1.0,45.41,,,O,NaN,1092
4,ATOM,5,,CB,,GLU,,A,10,,...,39.487,-17.307,116.239,1.0,59.04,,,C,NaN,1093

## Data Conditioning Objective
### Clean up dataframe
### Must start at atom number 1
### Remove empty columns
#### *Need record_name, atom_number, atom_name, residue_name, chain_id, residue_number, b_factor, charge, line_idx

In [17]:
stripped = ppdb.df['ATOM'][ppdb.df['ATOM'].drop(columns=['blank_1'])]
# This unique error lets me know that the data columns

ValueError: Must pass DataFrame with boolean values only

In [5]:
# Saving Dataframe as a Pandas accessible object
df = pd.DataFrame(ppdb.df['ATOM'])
df1 = df.copy()
df1.head()

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,GLU,,A,10,,...,38.090,-19.145,117.028,1.0,51.63,,,N,NaN,1089
1,ATOM,2,,CA,,GLU,,A,10,,...,38.099,-17.888,116.277,1.0,54.72,,,C,NaN,1090
2,ATOM,3,,C,,GLU,,A,10,,...,37.560,-18.108,114.844,1.0,47.63,,,C,NaN,1091
3,ATOM,4,,O,,GLU,,A,10,,...,38.295,-18.463,113.885,1.0,45.41,,,O,NaN,1092
4,ATOM,5,,CB,,GLU,,A,10,,...,39.487,-17.307,116.239,1.0,59.04,,,C,NaN,1093

In [9]:
df1.columns

Index(['record_name', 'atom_number', 'blank_1', 'atom_name', 'alt_loc',
       'residue_name', 'blank_2', 'chain_id', 'residue_number', 'insertion',
       'blank_3', 'x_coord', 'y_coord', 'z_coord', 'occupancy', 'b_factor',
       'blank_4', 'segment_id', 'element_symbol', 'charge', 'line_idx'],
      dtype='object')

In [14]:
df1.drop(['blank_1', 'alt_loc', 'blank_2', 'insertion',
         'blank_3', 'x_coord', 'y_coord', 'z_coord',
         'blank_4'], axis=1)
df1

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,GLU,,A,10,,...,38.090,-19.145,117.028,1.0,51.63,,,N,NaN,1089
1,ATOM,2,,CA,,GLU,,A,10,,...,38.099,-17.888,116.277,1.0,54.72,,,C,NaN,1090
2,ATOM,3,,C,,GLU,,A,10,,...,37.560,-18.108,114.844,1.0,47.63,,,C,NaN,1091
3,ATOM,4,,O,,GLU,,A,10,,...,38.295,-18.463,113.885,1.0,45.41,,,O,NaN,1092
4,ATOM,5,,CB,,GLU,,A,10,,...,39.487,-17.307,116.239,1.0,59.04,,,C,NaN,1093
5,ATOM,6,,CG,,GLU,,A,10,,...,40.380,-17.681,117.398,1.0,71.61,,,C,NaN,1094
6,ATOM,7,,CD,,GLU,,A,10,,...,41.117,-19.011,117.203,1.0,79.09,,,C,NaN,1095
7,ATOM,8,,OE1,,GLU,,A,10,,...,40.551,-20.048,117.580,1.0,80.90,,,O,NaN,1096
8,ATOM,9,,OE2,,GLU,,A,10,,...,42.268,-19.036,116.697,1.0,81.19,,,O,NaN,1097
9,ATOM,10,,N,,ASP,,A,11,,...,36.255,-17.874,114.736,1.0,42.47,,,N,NaN,1098
10,ATOM,11,,CA,,ASP,,A,11,,...,35.523,-17.897,113.491,1.0,40.34,,,C,NaN,1099
11,ATOM,12,,C,,ASP,,A,11,,...,36.173,-16.905,112.497,1.0,38.13,,,C,NaN,1100
12,ATOM,13,,O,,ASP,,A,11,,...,36.557,-15.807,112.827,1.0,35.74,,,O,NaN,1101
13,ATOM,14,,CB,,ASP,,A,11,,...,34.012,-17.607,113.747,1.0,41.02,,,C,NaN,1102
14,ATOM,15,,CG,,ASP,,A,11,,...,33.361,-18.602,114.753,1.0,42.82,,,C,NaN,1103
15,ATOM,16,,OD1,,ASP,,A,11,,...,34.066,-19.596,115.058,1.0,45.00,,,O,NaN,1104
16,ATOM,17,,OD2,,ASP,,A,11,,...,32.204,-18.486,115.265,1.0,43.31,,,O,NaN,1105
17,ATOM,18,,N,,THR,,A,12,,...,36.280,-17.373,111.262,1.0,38.26,,,N,NaN,1106
18,ATOM,19,,CA,,THR,,A,12,,...,37.163,-16.826,110.233,1.0,36.60,,,C,NaN,1107
19,ATOM,20,,C,,THR,,A,12,,...,36.497,-16.874,108.849,1.0,35.66,,,C,NaN,1108
20,ATOM,21,,O,,THR,,A,12,,...,35.836,-17.842,108.531,1.0,37.28,,,O,NaN,1109
21,ATOM,22,,CB,,THR,,A,12,,...,38.429,-17.682,110.256,1.0,35.56,,,C,NaN,1110
22,ATOM,23,,OG1,,THR,,A,12,,...,39.474,-16.870,110.765,1.0,33.66,,,O,NaN,1111
23,ATOM,24,,CG2,,THR,,A,12,,...,38.890,-18.130,108.863,1.0,33.71,,,C,NaN,1112
24,ATOM,25,,N,,ILE,,A,13,,...,36.645,-15.835,108.037,1.0,32.60,,,N,NaN,1113
25,ATOM,26,,CA,,ILE,,A,13,,...,36.113,-15.890,106.679,1.0,30.70,,,C,NaN,1114
26,ATOM,27,,C,,ILE,,A,13,,...,37.010,-15.250,105.651,1.0,34.93,,,C,NaN,1115
27,ATOM,28,,O,,ILE,,A,13,,...,37.320,-14.087,105.770,1.0,32.65,,,O,NaN,1116
28,ATOM,29,,CB,,ILE,,A,13,,...,34.694,-15.285,106.616,1.0,27.64,,,C,NaN,1117
29,ATOM,30,,CG1,,ILE,,A,13,,...,34.100,-15.476,105.226,1.0,24.42,,,C,NaN,1118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11835,ATOM,11841,,OE2,,GLU,,F,171,,...,46.923,-4.633,126.152,1.0,97.21,,,O,NaN,12929
11836,ATOM,11842,,N,,GLU,,F,172,,...,48.344,1.483,125.041,1.0,73.28,,,N,NaN,12930
11837,ATOM,11843,,CA,,GLU,,F,172,,...,48.667,2.735,125.726,1.0,76.45,,,C,NaN,12931
11838,ATOM,11844,,C,,GLU,,F,172,,...,49.628,3.661,124.916,1.0,75.46,,,C,NaN,12932
11839,ATOM,11845,,O,,GLU,,F,172,,...,50.676,4.088,125.390,1.0,72.92,,,O,NaN,12933
11840,ATOM,11846,,CB,,GLU,,F,172,,...,49.159,2.448,127.159,1.0,79.26,,,C,NaN,12934
11841,ATOM,11847,,CG,,GLU,,F,172,,...,50.118,1.265,127.337,1.0,86.92,,,C,NaN,12935
11842,ATOM,11848,,CD,,GLU,,F,172,,...,51.579,1.627,127.077,1.0,91.59,,,C,NaN,12936
11843,ATOM,11849,,OE1,,GLU,,F,172,,...,51.902,1.955,125.937,1.0,93.10,,,O,NaN,12937
11844,ATOM,11850,,OE2,,GLU,,F,172,,...,52.413,1.587,127.994,1.0,92.36,,,O,NaN,12938
11845,ATOM,11851,,N,,ILE,,F,173,,...,49.229,3.958,123.679,1.0,78.11,,,N,NaN,12939
11846,ATOM,11852,,CA,,ILE,,F,173,,...,49.845,4.987,122.807,1.0,78.78,,,C,NaN,12940
11847,ATOM,11853,,C,,ILE,,F,173,,...,48.702,5.572,122.007,1.0,82.12,,,C,NaN,12941
11848,ATOM,11854,,O,,ILE,,F,173,,...,48.455,6.788,122.039,1.0,83.33,,,O,NaN,12942
11849,ATOM,11855,,CB,,ILE,,F,173,,...,50.923,4.398,121.824,1.0,76.96,,,C,NaN,12943
11850,ATOM,11856,,CG1,,ILE,,F,173,,...,52.329,4.440,122.445,1.0,73.58,,,C,NaN,12944
11851,ATOM,11857,,CG2,,ILE,,F,173,,...,50.954,5.107,120.464,1.0,73.42,,,C,NaN,12945
11852,ATOM,11858,,CD1,,ILE,,F,173,,...,52.858,5.809,122.794,1.0,71.03,,,C,NaN,12946
11853,ATOM,11859,,N,,ASP,,F,174,,...,48.011,4.683,121.292,1.0,84.35,,,N,NaN,12947
11854,ATOM,11860,,CA,,ASP,,F,174,,...,46.782,5.025,120.586,1.0,84.37,,,C,NaN,12948
11855,ATOM,11861,,C,,ASP,,F,174,,...,45.571,4.258,121.179,1.0,85.84,,,C,NaN,12949
11856,ATOM,11862,,O,,ASP,,F,174,,...,45.377,3.080,120.909,1.0,87.05,,,O,NaN,12950
11857,ATOM,11863,,CB,,ASP,,F,174,,...,46.957,4.769,119.069,1.0,83.04,,,C,NaN,12951
11858,ATOM,11864,,CG,,ASP,,F,174,,...,47.599,5.941,118.355,1.0,79.34,,,C,NaN,12952
11859,ATOM,11865,,OD1,,ASP,,F,174,,...,47.224,7.111,118.600,1.0,76.66,,,O,NaN,12953
11860,ATOM,11866,,OD2,,ASP,,F,174,,...,48.514,5.793,117.548,1.0,76.94,,,O,NaN,12954
11861,ATOM,11867,,N,,GLY,,F,175,,...,44.763,4.948,121.977,1.0,85.82,,,N,NaN,12955
11862,ATOM,11868,,CA,,GLY,,F,175,,...,43.693,4.544,122.633,0.0,0.00,,,C,NaN,12956
11863,ATOM,11869,,C,,GLY,,F,175,,...,44.221,4.007,123.950,0.0,0.00,,,C,NaN,12957
11864,ATOM,11870,,O,,GLY,,F,175,,...,45.385,4.175,124.323,1.0,85.11,,,O,NaN,12958

In [6]:
# Mean b_factor
df1.columns
meanb = df1['b_factor'].mean()
print(meanb)

42.40261778339668