In [1]:
# Jason Luera
# Biopandas DF testing
# Trying to isolate columns in dataframes

In [17]:
# Importing Libraries
from biopandas.pdb import PandasPdb
import pandas as pd

In [6]:
ppdb = PandasPdb().fetch_pdb('1RD8')
ppdb.df['ATOM'].head()

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,GLU,,A,10,,...,38.090,-19.145,117.028,1.0,51.63,,,N,NaN,1089
1,ATOM,2,,CA,,GLU,,A,10,,...,38.099,-17.888,116.277,1.0,54.72,,,C,NaN,1090
2,ATOM,3,,C,,GLU,,A,10,,...,37.560,-18.108,114.844,1.0,47.63,,,C,NaN,1091
3,ATOM,4,,O,,GLU,,A,10,,...,38.295,-18.463,113.885,1.0,45.41,,,O,NaN,1092
4,ATOM,5,,CB,,GLU,,A,10,,...,39.487,-17.307,116.239,1.0,59.04,,,C,NaN,1093

In [7]:
from biopandas.pdb import PandasPdb
ppdb = PandasPdb().fetch_pdb('1RD8')
sequence = ppdb.amino3to1()
sequence.tail()

      chain_id residue_name
11827        F            E
11836        F            E
11845        F            I
11853        F            D
11861        F            G

In [19]:
ppdb.df['ATOM'].head(2)

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,GLU,,A,10,,...,38.090,-19.145,117.028,1.0,51.63,,,N,NaN,1089
1,ATOM,2,,CA,,GLU,,A,10,,...,38.099,-17.888,116.277,1.0,54.72,,,C,NaN,1090

In [36]:
# Isolation of 2 columns
atombfactordf = ppdb(1,len(ppdb)+1)['ATOM']['b_factor']
atombfactordf

TypeError: object of type 'PandasPdb' has no len()

In [34]:
ppdb.df['ATOM'][ppdb.df['ATOM']['atom_number'] != 0].head()

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,GLU,,A,10,,...,38.090,-19.145,117.028,1.0,51.63,,,N,NaN,1089
1,ATOM,2,,CA,,GLU,,A,10,,...,38.099,-17.888,116.277,1.0,54.72,,,C,NaN,1090
2,ATOM,3,,C,,GLU,,A,10,,...,37.560,-18.108,114.844,1.0,47.63,,,C,NaN,1091
3,ATOM,4,,O,,GLU,,A,10,,...,38.295,-18.463,113.885,1.0,45.41,,,O,NaN,1092
4,ATOM,5,,CB,,GLU,,A,10,,...,39.487,-17.307,116.239,1.0,59.04,,,C,NaN,1093

In [46]:
ppdb = PandasPdb().fetch_pdb('1RD8')
ppdb.df['ATOM'].head()
cols = ppdb.columns
print(cols)

AttributeError: 'PandasPdb' object has no attribute 'columns'